# Lecture III - basic python II



generated with OpenAI DALL-E3

#### issues with installations, homework understanding?

## Recap

what data types do you remember from last lecture?

shout any buzz word you remember

your new homepage

https://stackoverflow.com/

## Docs
https://docs.python.org/3/tutorial/index.html


https://docs.python.org/3/tutorial/datastructures.html

## Lists

In [1]:

my_list = [0, 1, 2, 3, 4, 5] #collection of items

In [2]:
[0,'a',lambda x: x+1] #very versatile

#can save integers, strings, functions, anything

[0, 'a', <function __main__.<lambda>(x)>]

In [3]:
#general concept of iterables 

my_list[0:5:2] #how to look into object

[0, 2, 4]

In [4]:
#iteration - very important concept! 
for item in my_list:
    print(item)

0
1
2
3
4
5

In [5]:
for idx, item in enumerate([1,2,43,4,5,3,1]):
    print(f"index {idx} in my_list contains value {item}")

index 0 in my_list contains value 1
index 1 in my_list contains value 2
index 2 in my_list contains value 43
index 3 in my_list contains value 4
index 4 in my_list contains value 5
index 5 in my_list contains value 3
index 6 in my_list contains value 1

In [274]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [279]:
# access 
# print(my_list)
my_list[0:len(my_list):2] #start:end:step

[0, 2, 4]

In [277]:
my_list[::2] # get every other item

[0, 2, 4]

In [280]:
reversed_list = my_list[::-1]
reversed_list

[5, 4, 3, 2, 1, 0]

### list comprehension

In [286]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
# Creating a list of squared numbers
squares = [x**2 for x in range(5)] #list comprehension (pythonic term)
squares

[0, 1, 4, 9, 16]

In [290]:
# Creating a flat list from a matrix (2d array-> array of array)
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)
flat_list = [element for row in matrix for element in row] #two-for loops in one comprehension
print(flat_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [292]:
# Creating a list of even numbers
evens = [x**2 for x in range(10) if x % 2 == 0] #comprehension with conditions
evens
#python built-in filter
# DYI! Try to look up how to filter values in Python array (list)! Let's filter even values using function filter()

[0, 4, 16, 36, 64]

In [298]:
# Using append and extend
my_list = [1, 2, 3]
my_list.append('hi')  # [1, 2, 3, 4]
my_list.extend([5, 6])  # [1, 2, 3, 4, 5, 6]

my_list

[1, 2, 3, 'hi', 5, 6]

In [7]:
#removing from list
my_list.remove(5)
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

popped = my_list.pop()
#Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

In [8]:
print(my_list)
popped

[0, 1, 2, 3]

4

In [ ]:
#there are operations which change the item itself, some return a new object -> more on that later

In [9]:
# Basic operations on arrays
my_list=range(6)
print(my_list)
# Using sum, min, max, and len
sum(my_list)  # 21
min(my_list)  # 1
max(my_list)  # 6
len(my_list)  # 6

range(0, 6)

6

In [10]:
#merge lists

list_a = [1, 2, 3]
list_b = [4, 5, 6]
# [*list_a, *list_b]
# list_a+list_b

# how does this differ?
list_a.extend(list_b)

In [318]:
list_a

[1, 2, 3, 4, 5, 6]

In [11]:
# Creating a list of all coordinates within a 3x3 grid - list comprehension
coordinates = [(x, y) for x in range(3) for y in range(3)]
# coordinates

In [323]:
# Transposing a matrix using nested list comprehension - two for loops in one comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [[row[i] for row in matrix] for i in range(3)]

In [12]:
# Repeating lists
my_list=[1,2]
repeated = my_list * 2  # [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
repeated
# len(repeated)

[1, 2, 1, 2]

## Iterating Backward

In [13]:

# Iterating backward through a list
[item for item in reversed(my_list)]

[2, 1]

In [14]:
my_str = 'Pythonic' #strings are also collections of single charactes

# Iterating backward through a string
[char for char in reversed(my_str)]

['c', 'i', 'n', 'o', 'h', 't', 'y', 'P']

## Using Negative Indices

In [16]:

last_element = my_list[-1]
last_element

2

In [17]:

subset = my_list[-3:-1]
subset

[1]

## Strings and Slicing

In [19]:

my_str = "Pythonic"
substring = my_str[1:4]
substring

'yth'

In [20]:

skipped_string = my_str[::2]
skipped_string

'Ptoi'

In [23]:

reversed_string = my_str[::-1]
reversed_string

'cinohtyP'

In [24]:
#f-strings - most efficient to initialize

f'my string is {my_str}'

'my string is Pythonic'

In [25]:
f'my string is {my_str+ ", no kidding!"}' #notice the "" in f string

'my string is Pythonic, no kidding!'

In [26]:
# Example: Converting, replacing, and formatting strings
original = "Python is fun"
formatted = original.upper().replace("FUN", "fantastic")
final = f"{formatted}!"
final

'PYTHON IS fantastic!'

In [27]:
f"Pi is {22/7:.2f}" #rounding floats in strings

'Pi is 3.14'

In [28]:
len("Python") #number of characters

6

In [29]:
my_str

'Pythonic'

In [30]:
my_arr=list(range(10))
my_arr[3]='hi'
my_arr

[0, 1, 2, 'hi', 4, 5, 6, 7, 8, 9]

In [31]:
my_str[2]='Z' #immutable

TypeError: 'str' object does not support item assignment

In [ ]:
# TypeError: 'str' object does not support item assignment is called Exception
# more on these later

In [347]:
escaped = "This is a \"quote\"."
newline = "This is a line.\nAnd this is another."
print(escaped)
print('------')
print(newline)

This is a "quote".
------
This is a line.
And this is another.

In [32]:
"This is a snowman: \u2603"

'This is a snowman: ☃'

In [33]:
multiline = """This is a
multiline string."""
print(multiline) # the end of line is implicit, compared to \n

This is a
multiline string.

In [34]:
#create simple csv
# to_csv = ('list_me_to_csv') 
# print(','.join(to_csv)+"\n")#add line break - bonus -> how to write it to file end of lecture
print('\u2603'.join(['item1','item2','item3']))

item1☃item2☃item3

In [35]:
#create manual csv file with integers
','.join([str(el) for el in list(range(3))]) #items to be joined need to be stringsf

'0,1,2'

## Dictionaries

In [ ]:
#very useful containers -> quick O(1) access to their values

In [37]:

my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

In [38]:
# Creating and accessing elements
print(my_dict['a'])  # Output: 1

1

In [40]:

squares = {f'key': x**2 for x in range(5)}
squares

{'key': 16}

In [41]:
squares['key']='hi'
squares

{'key': 'hi'}

In [42]:

even_squares = {x: x**2 for x in range(5) if x % 2 == 0}
even_squares

{0: 0, 2: 4, 4: 16}

In [43]:

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'b': 4}
merged = {**dict1, **dict2}
merged

{'a': 1, 'b': 4, 'c': 3}

In [ ]:
dict1 | dict2 #shorthand for before - fancy syntax! (union, logical or)...look up if interested

In [46]:
# Using dictionary comprehension - notice similar behavior like array
squared_dict = {k: v**2 for k, v in my_dict.items()}
squared_dict

{'a': 1, 'b': 4, 'c': 9}

In [47]:
# Iterating through keys and values
for key, value in my_dict.items():
    print(f"{key}: {value}")

a: 1
b: 2
c: 3

In [48]:
# Accessing
my_dict['a']
my_dict.get('a')
# my_dict['c']
# my_dict.get('c')

1

In [49]:
# Iterating through keys, values, and items individually
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict.keys():
    print(key)
for value in my_dict.values():
    print(value)
for key, value in my_dict.items():
    print(key, value)


#best is last one, always can ommit value

a
b
c
1
2
3
a 1
b 2
c 3

In [51]:
# Using get, pop, and update
value = my_dict.get('a', 0)  # Get value with a default
popped = my_dict.pop('b', 0)  # Remove item, default if not found
my_dict.update({'d': 4, 'e': 5})  # Add multiple key-value pairs

## Sets

In [56]:

my_set = x
my_set.add(4)
my_set

AttributeError: 'int' object has no attribute 'add'

In [53]:

squared_set = {x**2 for x in my_set}
squared_set

NameError: name 'my_set' is not defined

In [54]:

another_set = {3, 4, 5}
union_set = my_set.union(another_set)
intersection_set = my_set.intersection(another_set)
difference_set = my_set.difference(another_set)
union_set, intersection_set, difference_set

#useful with strings, Getting subsets of some collections

NameError: name 'my_set' is not defined

In [55]:
# Using set comprehension
squared_set = {x**2 for x in my_set}
squared_set

NameError: name 'my_set' is not defined

## Tuples

In [57]:

my_tuple = (1, "apple", 3.14)
element = my_tuple[1]
element

'apple'

In [58]:

x, y, z = my_tuple #get individual values easily (same in .items() in dictionaries
x, y, z

(1, 'apple', 3.14)

In [59]:

nested_data = {
    'fruit': {'apple': 3, 'banana': 5},
    'vegetable': {'carrot': 4, 'pepper': 7}
}
for key, value in nested_data.items():
    print(f"{key}:")
    for inner_key, inner_value in value.items():
        print(f"  {inner_key}: {inner_value}")

fruit:
  apple: 3
  banana: 5
vegetable:
  carrot: 4
  pepper: 7

## Defaultdict

In [62]:

from collections import defaultdict #import library, top of the script!!

fruits = ['apple', 'banana', 'cherry', 'apple', 'cherry'] #could how many of each we have
fruit_counts = defaultdict(int) 
for fruit in fruits:
    fruit_counts[fruit] += 1
fruit_counts

defaultdict(int, {'apple': 2, 'banana': 1, 'cherry': 2})

In [63]:
# Using list as a default factory - too sophisticated, but why not
words = ["apple", "banana", "cherry", "apple", "banana"]
word_count = defaultdict(list)

for word in words:
    word_count[word].append(1)

# Summing counts
word_sum = {word: sum(counts) for word, counts in word_count.items()}
word_sum

{'apple': 2, 'banana': 2, 'cherry': 1}

In [66]:
#useful when we do not know how many items we will get (keys in dict)

# Using int as a default factory
word_count = defaultdict(int)

for word in words:
    word_count[word] += 1

In [67]:
# Sample data: (category, item)
data = [
    ("fruit", "apple"),
    ("fruit", "banana"),
    ("fruit", "apple"),
    ("veggie", "carrot"),
    ("veggie", "potato"),
    ("veggie", "carrot"),
    ("veggie", "potato"),
    ("veggie", "potato"),
    ("fruit", "banana"),
]

# A nested defaultdict to store counts
counter = defaultdict(lambda: defaultdict(int))

# Counting items in categories
for category, item in data:
    counter[category][item] += 1

# Display counts
for category, items in counter.items():
    print(f"{category.capitalize()}s:")
    for item, count in items.items():
        print(f"  {item}: {count}")

Fruits:
  apple: 2
  banana: 2
Veggies:
  carrot: 2
  potato: 3

## Functions in Python

Functions are foundational in Python for creating reusable, organized, and modular code. 
Modular code can be easily maintained

In [68]:
# 1. Defining and Calling Functions
# Definition: Using the def keyword.
# Calling: Using the function name followed by parentheses.

def greet():
    print("Hello, World!")

greet()

Hello, World!

In [69]:
# 2. Parameters and Arguments
# Parameters: Variables listed inside the parentheses in the function definition.
# Arguments: Values sent to the function when it is called.

def greet(name):
    print(f"Hello, {name}!")

greet("Python")

Hello, Python!

In [ ]:
# 3. Default Parameter Values
# Specify a default value for a parameter that will be used if the function is called without an argument for that parameter.

def greet(name="World"):
    print(f"Hello, {name}!")

greet()
greet("Python")

In [70]:
# 4. Return Values
# Using the return statement to let a function return a value.

def add(a, b):
    return a + b

result = add(3, 4)

In [73]:
# 5. Variable Scope
# Understanding of local and global variable scope

def my_function():
    local_var = 10  # Local variable
    print(local_var)

global_var = 5  # Global variable - not a good practice, but nevertheless possible. Drawback of notebook structure in general.
my_function()
print(global_var)

10
5

In [72]:
# 6. Positional vs. Keyword Arguments
# Positional arguments: Must be passed in the correct positional order.
# Keyword arguments: Passed by keyword and can be in any order.

def example_function(arg1, arg2):
    print(arg1, arg2)

example_function(1, 2)  # Positional
example_function(arg2=2, arg1=1)  # Keyword

1 2
1 2

In [74]:
# 7. Arbitrary Argument Lists
# *args: For arbitrary number of positional arguments.
# **kwargs: For arbitrary number of keyword arguments.

def example_function(*args, **kwargs):
    print(args)  # Tuple
    print(kwargs)  # Dictionary

example_function(1, 2, 3, a=4, b=5)

(1, 2, 3)
{'a': 4, 'b': 5}

In [75]:
# 8. Lambda Functions
# Anonymous functions defined with the lambda keyword.

square = lambda x: x ** 2
print(square(4))

16

In [76]:
# 9. Docstrings
# Documentation strings providing a description of the function's purpose.

def greet():
    """
    This function prints a greeting.
    """
    print("Hello, World!")

In [77]:
# 10. Recursion
# Functions calling themselves to solve problems.
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

print(factorial(5))

120

In [78]:
# 11. First-Class Functions
# Functions in Python are first-class citizens, meaning they can be passed around and used as arguments.

def greet():
    return "Hello, World!"

def shout(func):
    print(func().upper()) #calling on some objects passed as input to function. Like trying 5(), but still possible.

shout(greet)

HELLO, WORLD!

In [80]:
# 12. Decorators
# Functions that modify the behavior of other functions.

def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print(f"Something is happening after the function '{func.__name__}' is called.")
    return wrapper

@my_decorator
def greet():
    print("Hello, World!")

greet()

Something is happening before the function is called.
Hello, World!
Something is happening after the function 'greet' is called.

## Input/Output (I/O) Operations in Python

In [ ]:

# Handling I/O operations effectively is crucial for various applications. 

# 1. Basic File I/O
# Reading and Writing Text Files

In [81]:
# Writing to a file
with open('example.txt', 'w') as file:
    file.write("Hello, Python!")

In [82]:
# Reading from a file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hello, Python!

In [83]:
# Reading file line by line
with open('example.txt', 'r') as file:
    for line in file:
        print(line)

Hello, Python!

In [84]:
import csv

data = [["Name", "Age"], ["Alice", 30], ["Bob", 28]]

# Writing to a CSV file
with open('people.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [85]:
# Reading from a CSV file
with open('people.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age']
['Alice', '30']
['Bob', '28']

In [ ]:
try:
    with open('nonexistent.txt', 'r') as file:
        content = file.read()
except FileNotFoundError:
    print("File not found.")

In [88]:
import os
# List directory content
print(os.listdir('.'))

# Change directory
os.chdir('./')

['.git', '.gitignore', '.ipynb_checkpoints', '00_Setup', '01_PythonBasics', '02_Basics_II.ipynb', 'example.txt', 'newnew.txt', 'people.csv', 'README.md', 'txtxtxt.txt']

In [89]:
import os

# Get current directory
current_dir = os.getcwd()

# Join paths
path = os.path.join(current_dir, 'example.txt')

In [90]:
path

'C:\\Users\\František Vlach\\F_link\\IES\\Python\\PythonDataIES\\example.txt'

## Error and Exception Handling in Python

In [91]:
# 1. Basic Try/Except Block
# Handling exceptions with try and except.

try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

In [92]:
# 2. Handling Multiple Exceptions
# Catching different exception types.
    
try:
    result = 10 / 0
except (TypeError, ZeroDivisionError) as e:
    print(f"An error occurred: {str(e)}")

An error occurred: division by zero

In [93]:
# 3. Else and Finally Clauses
# else: Runs when no exception is raised in the try block.
# finally: Always runs, whether an exception is raised or not.
try:
    result = 10 / 5
except ZeroDivisionError:
    print("You can't divide by zero!")
else:
    print("Division successful!")
finally:
    print("This block will run no matter what.")

Division successful!
This block will run no matter what.

In [96]:
class CustomError(Exception):
    pass

try:
    raise CustomError("This is a custom exception")
except CustomError as e:
    print(f"A CustomError occurred: {str(e)}")

A CustomError occurred: This is a custom exception

In [95]:
# 5. Assertion and the Assert Statement
# Using assert to automatically trigger an exception when a condition is not met.

x = -1
assert x >= 0, "Only non-negative numbers are allowed!"

AssertionError: Only non-negative numbers are allowed!

In [98]:
# 7. Handling Exceptions in Functions
# Creating functions that handle exceptions.
# python
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        print("Can't divide by zero!")
        return None

result = safe_divide(10, 0)

Can't divide by zero!
None

In [99]:
# 8. Raising Exceptions
# Using raise to trigger an exception.

def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative")

try:
    validate_age(-1)
except ValueError as e:
    print(f"Validation failed: {str(e)}")

Validation failed: Age cannot be negative

In [100]:
# 9. Chaining Exceptions
# Using from with raise to chain exceptions and maintain tracebacks.

def example():
    try:
        int("not_a_number")
    except ValueError as e:
        raise RuntimeError("A parsing error occurred") from e

try:
    example()
except RuntimeError as e:
    print(f"An error occurred: {str(e)}")
    print(f"Due to: {str(e.__cause__)}")

An error occurred: A parsing error occurred
Due to: invalid literal for int() with base 10: 'not_a_number'

In [ ]:
### simple data pipeline

In [101]:
def read_data(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            name, age = line.strip().split(',')
            data.append((name, int(age)))
    return data

def calculate_average_age(data):
    total_age = sum(age for _, age in data)
    average_age = total_age / len(data)
    return average_age

def display_average_age(average_age):
    print(f"The average age is: {average_age:.2f}")

def main(file_path):
    data = read_data(file_path)
    average_age = calculate_average_age(data)
    display_average_age(average_age)

In [102]:
main('sample.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'